.infoContainer{
    margin-top: 24px;
    display: flex;
    align-items: center;

    svg{
        height: 20px;
        width: 20px;
        color: var(--info);
    }

    & > div:not(:first-child){
        margin-left: 24px;
    }

    & > div{
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        color: var(--info);

        & > :last-child{
            margin-left: 8px;
        }
    }

    & > div > p{
        display: inline;
        
    }  
}